* {
    box-sizing: border-box;
}

body {
    background-color: #aaa;
    line-height: 1.5;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    color: rgba(0,0,0,.87);
}

h2 {
    margin: 0 0 0.5em;
    border-bottom: solid 1px black;
    text-align: center;
}

h3 {
    font-weight: normal;
    margin: 0 1em 0.5em;
}

ol, ul {
    list-style-type: none;
    margin: 0;
    padding: 0 1em;
}

.upcoming .team:first-of-type h3 {
    font-weight: bold;
}

.team li {
    margin: 0;
    padding: 0;
}

.team li.gm {
    font-weight: bold;
}

.players li {
    margin: 10px 0;
    padding: 5px;
    width: 100%;
    border: solid 1px grey;
}

.players .draftable {
    padding: 10px;
    font-weight: bold;
    border-color: black;
}

.male {
    background-color: #95d4e6;
}

.female {
    background-color: #ffccf9;
}

.draftable:hover {
    background-color: #95e6a9;
    cursor: pointer;
}

.segment {
    min-width: 200px;
    display: inline-block;
    vertical-align: top;
    border: solid 2px black;
    margin: 1em;
    padding: 0;
}

.rating {
    float:right;
}

.salary {
    font-size: 0.75em;
    font-weight: normal;
    display: block;
    margin-left: 2em;
}