
body {
    background-color: #aaa;
    line-height: 1.5;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    color: rgba(0,0,0,.87);
}

h2 {
    margin: 0 0 1em;
    border-bottom: solid 1px black;
    text-align: center;
}

h3 { 
    margin: 0;
}

.team ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.team li {
    margin: 0;
    padding: 0;
}

.team li.gm {
    font-weight: bold;
}

.playerList {
    margin-left: 0;
    padding-left: 0em;
    list-style-type: none;

}

.playerList li {
    margin: 10px;
}

.draftable {
    width: 100%;
    padding: 10px;
    border: solid 1px black;
    //background-color: lightgrey;
}

.male {
    background-color: #95d4e6;
}

.female {
    background-color: #ffccf9;
}

.draftable:hover {
    background-color: #95e6a9;
    cursor: pointer;
}

.segment {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    border: solid 2px black;
    margin: 1em;
    padding: 1em;
}

.tab {
}
